#bar_code {
  border: 2px solid;
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#QRcode {
  padding: 6rem 6rem -12rem 18rem;
  justify-content: center;
  align-items: center;
}

#pstext {
  text-align: center;
}